# Todo lo que publique con @Vimoxx irá a npmjs
@Vimoxx:registry=https://registry.npmjs.org/

# Por defecto los paquetes públicos
access=public

# No autogenerar git tags al hacer publish
git-tag-version=false

# Guardar dependencias exactas (sin ^ o ~)
save-exact=true
